/*Estilos da página index.html*/


p {
    font-size: 14px;
    font-family: Georgia;
}

P, h1 { text-align: center; }

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}



/*Estilos da página index2.html*/